body{
    background: url("https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Aclonica';font-size: 22px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.socials{
    width: 220px;
    padding-right: 10px;
    padding-left: 10px;
    
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
  	justify-content: center;
  	align-items: center;
}

.fa-brands{
    padding: 10px;
    color: white;
    font-size: 50px;
    width: 50px;
}

.container p{
    color: rgb(167, 167, 167);
}


.fa-brands:hover{
    color: lightgreen;
    transition: 0.2s;
}
