body{
    background: url("yo3.png")   no-repeat;
    background-size:contain;
    font-family: 'Aclonica';font-size: 22px;
}

@media only screen and (max-width: 1100px) and (min-width: 751px) {
    body {
        background: url("mid.png")   no-repeat;
    }
  }

@media only screen and (max-width: 750px) {
    body {
        background: url("mobile.png")   no-repeat;
    }
  }

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.socials{
    width: 220px;
    padding-right: 10px;
    padding-left: 10px;
    
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
  	justify-content: center;
  	align-items: center;
}

.fa-brands{
    padding: 10px;
    color: white;
    font-size: 50px;
    width: 50px;
}

.container p{
    color: rgb(167, 167, 167);
}


.fa-brands:hover{
    color: lightgreen;
    transition: 0.2s;
}

.extend{
    height: 10000px;
}